* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #97d10f;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

label {
    display: inline-block;
    width: 120px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: calc(100% - 130px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #990d9e;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    color: #ccc;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    label {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
    }
}